[Unit]
Description=Grades Handin server
Requires=network.target xvfb.service
After=network.target

[Service]
Type=simple
Environment="DISPLAY=:99"
WorkingDirectory=/home/bluephoenix47/grades-server/
User=bluephoenix47
ExecStart=/usr/bin/racket -l handin-server
Restart=always

[Install]
WantedBy=multi-user.target
